/* --------------Basic Settings-------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
	font-family: 'Times';
	src: url('/font/NotoSerif.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body,
html {
  font-family: 'Times', serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

/* --------------HEADER----------------- */
.site-header {
  background: #D3C09E; /* Light grey */
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex; /* Changed to flex layout */
  justify-content: space-between; /* Distributes space between logo and navigation */
  align-items: center;
  height: 5rem; /* Set a specific height for the header */
  min-height: 3rem;
}
/* Assign to the grid area */
.logo {
  /* Logo stays aligned to the left */
}

/* Site Title */
.site-title {
  position: absolute; /* Absolute positioning */
  left: 50%; /* Positioned at half the width of the header */
  transform: translateX(
    -50%
  ); /* Offset by half the width of the title for centering */
  z-index: 99; /* Ensures that the title does not overlap the navigation */
  font-size: 2rem;
}

/* Navigation */
.navigation {
  /* Navigation stays aligned to the right */
  display: flex;
  gap: 10px; /* Adds space between navigation items */
}

.logo img {
  max-height: 8vh; /* Adjust the value to fit within the header */
  height: auto; /* Maintain the aspect ratio of the image */
  width: auto; /* Maintain the aspect ratio of the image */
}

.site-title h4 {
  margin: 0; /* Remove default margins that may affect centering */
  /* Other styling for the site title */
}

/* Navigation Links */
.navigation a,
.navigation button {
  text-decoration: none;
  background: none; /* Removes background from buttons */
  border: none; /* Removes border from buttons */
  color: white; /* Text main  for navigation items */
  font-weight: bold; /* Makes the navigation items bold */
  cursor: pointer; /* Changes cursor to pointer when hovering over the items */
  line-height: 1; /* Adjust line height to ensure vertical centering */
  padding: 8px 16px; /* Optional: add padding for better touch targets */
}

.site-header {
  padding: 10px 20px;
}

.navigation {
  justify-content: flex-end;
}

.menu-icon {
    display: none; /* Cache l'icône du menu par défaut */
}

@media screen and (max-width: 1160px) {
    .site-header {
        justify-content: space-around; /* Adjusts space distribution */
    }

    .site-title {
        position: static; /* Resets the position */
        transform: none; /* Removes the transform */
        margin: 0 auto; /* Centers the title in the available space */
    }

    .navigation {
        justify-content: center; /* Center the navigation items */
    }
}

@media screen and (max-width: 850px) {
    .menu-icon {
        display: block; /* Affiche l'icône du menu */
        /* Autres styles de l'icône du menu */
    }

    .navigation {
        display: none; /* Cache le menu par défaut */
        flex-direction: column;
        background-color: #D3C09E; /* Couleur de fond */
        /* Autres styles pour le menu déroulant */
    }

    .navigation.active {
        display: flex; /* Affiche le menu lorsqu'il est actif */
    }

    .menu-container {
        position: relative; /* Positionnement relatif pour le conteneur */
    }

    .navigation {
        position: absolute; /* Position absolue pour le menu déroulant */
        top: 100%; /* Place le menu juste en dessous de l'icône du menu */
        right: 0; /* Aligné à droite */
        width: auto; /* Largeur ajustée au contenu */
        /* Autres styles pour le positionnement et l'apparence */
    }
}

@media screen and (max-width: 570px) {
    .site-title h4 {
        font-size: 1.5rem; /* Réduit la taille de la police à 3rem */
    }
}

@media screen and (max-width: 450px) {
    .site-title h4 {
        font-size: 1rem; /* Réduit la taille de la police à 3rem */
    }
}


/* --------------MAIN SECTION----------------- */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  height: 50rem;
  min-height: 46rem; /* Converted from 90vh assuming 900px height */
  max-height: 54em;
  padding: 1.25rem; /* Example padding in rem */
}

/* --------------Landing Section-------------- */
.landing {
  display: grid;
  grid-template-columns: 10vw 40vw 30vw 20vw; /* Define the grid layout with two columns */
  background: #F9F7F3; /* Light red */
  min-height: 40rem;
  height: 45rem;
  background-image: url('img/1.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Parent container of the image */
.landing-child-40 {
	grid-column: 2 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: visible;
	z-index: 0;
  }

  .landing-child-40 img {
	max-width: 60%; /* Limit the image to the width of its parent */
	max-height: 60%; /* Limit the image to the height of its parent */
	height: 40rem; /* Maintain aspect ratio */
	object-fit: cover; /* Adjust as needed */
  }

.landing-child-30 {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the start of the main axis */
  align-items: flex-start; /* Align items to the start of the cross axis (lemainft edge) */
  padding: 20px; /* Add padding inside the container */
}

.landing-child-30 h2 {
  margin: 0 0 1.25rem 0;
  font-size: 5rem; /* Example font size in rem */
}

.landing-child-30 p {
  margin: 0 0 20px 0; /* Add some space below each paragraph */
  margin-bottom: 30px;
  /* Additional styling for paragraphs */
}

.landing-child-30 .centered-text {
  align-self: center; /* Center this text within the flex container */
  margin-top: auto; /* Push the centered text to the bottom */
  /* Additional styling for the centered text */
}

@media screen and (max-width: 1650px) {
    .landing {
        /* Adjust the grid layout to give more space to the text column */
        grid-template-columns: 10vw 35vw 45vw 10vw;
    }
}

@media screen and (max-width: 1100px) {
    .landing {
        /* Increase the height of the landing section */
        height: 60rem; /* Adjust this value as needed */
        min-height: 55rem; /* Optional: adjust the minimum height as needed */
		grid-template-columns: 0vw 50vw 50vw 0vw;
    }
}

@media screen and (max-width: 1000px) {
	.landing-child-30 h2 {
		font-size: 3rem; /* Example font size in rem */
	  }
}

@media screen and (max-width: 650px) {
    .landing {
        grid-template-rows: auto auto; /* Create two row tracks */
        grid-template-columns: 1fr; /* Set to one column */
        height: 70rem; /* Adjust this value as needed */
        min-height: 65rem; /* Optional: adjust the minimum height as needed */
    }

    .landing-child-40 {
        grid-column: 1; /* Place image in the first column */
        grid-row: 1; /* Place image in the first row */
    }

    .landing-child-30 {
        grid-column: 1; /* Place text in the first column */
        grid-row: 2; /* Place text in the second row */
    }
}

/* --------------Services Section-------------- */
.services-section {
  width: auto;
  height: auto;
  display: grid;
  /*grid-template-columns: repeat(15, 1fr); /* 15 columns of equal size */
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(22, 1fr); /* 21 rows of equal size */
  grid-gap: 0px; /* Space between grid items */
  padding: 0px; /* Padding around the entire section */
  height: 60rem;
}

/* Assigning names to grid areas for easier placement */
.services-section {
  grid-template-areas:
    "blank1 blank1 blank1 blank1 blank1 blank1 blank1 blank1 card1  card1  blank2 blank2 blank2 blank2 blank2"
    "blank3 light1 light1 light1 light1 light1 light1 light1 card1  card1  light2 light3 light3 light4 blank4"
    "blank3 light1 light1 light1 light1 light1 light1 light1 card1  card1  light2 card4  card4  light4 blank4"
    "cleft  main1  main1  main1  main1  main1  main1  main1  card1  card1  main9  card4  card4  mainc  cright"
    "cleft  main1  main1  main1  main1  main1  main1  main1  card1  card1  main9  card4  card4  mainc  cright"
    "cleft  main2  head   head   head   head   head   main4  card1  card1  main9  card4  card4  mainc  cright"
    "cleft  main2  head   head   head   head   head   main4  main7  main7  main9  card4  card4  mainc  cright"
    "cleft  main2  main3  main3  main3  main3  main3  main4  card2  card2  main9  card4  card4  mainc  cright"
    "cleft  main2  main3  main3  main3  main3  main3  main4  card2  card2  main9  maina  maina  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  card2  card2  main9  card5  card5  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  card2  card2  main9  card5  card5  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  card2  card2  main9  card5  card5  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  card2  card2  main9  card5  card5  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  main8  main8  main9  card5  card5  mainc  cright"
    "cleft  main2  text   text   text   text   text   main4  card3  card3  main9  card5  card5  mainc  cright"
    "cleft  main2  main5  main5  main6  main6  main6  main6  card3  card3  main9  mainb  mainb  mainc  cright"
    "cleft  main2  btton  btton  main6  main6  main6  main6  card3  card3  main9  card6  card6  mainc  cright"
    "cleft  main2  btton  btton  main6  main6  main6  main6  card3  card3  main9  card6  card6  mainc  cright"
    "cleft  main2  maind  maind  main6  main6  main6  main6  card3  card3  main9  card6  card6  mainc  cright"
    "blank5 light5 light5 light5 light5 light5 light5 light5 card3  card3  light7 card6  card6  light8 blank6"
    "blank5 light5 light5 light5 light5 light5 light5 light5 light6 light6 light7 card6  card6  light8 blank6"
    "blank7 blank7 blank7 blank7 blank7 blank7 blank7 blank7 blank7 blank7 blank7 card6  card6  blank8 blank8";
}

/* top blank */
.blank1,
.blank2,
.blank3,
.blank4 {
  background-color: #F9F7F3;
  height: 100%;
}
/*bottom blank */
.blank5,
.blank6,
.blank7,
.blank8 {
  background-color: #F9F7F3;
  height: 100%;
}
.blank1 {
  grid-area: blank1;
}
.blank2 {
  grid-area: blank2;
}
.blank3 {
  grid-area: blank3;
}
.blank4 {
  grid-area: blank4;
}
.blank5 {
  grid-area: blank5;
}
.blank6 {
  grid-area: blank6;
}
.blank7 {
  grid-area: blank7;
}
.blank8 {
  grid-area: blank8;
}

.light1,
.light2,
.light3,
.light4,
.light5,
.light6,
.light7,
.light8 {
  background-color: #F2EDE2D9;
  height: 100%;
}
.light1 {
  grid-area: light1;
}
.light2 {
  grid-area: light2;
}
.light3 {
  grid-area: light3;
}
.light4 {
  grid-area: light4;
}
.light5 {
  grid-area: light5;
}
.light6 {
  grid-area: light6;
}
.light7 {
  grid-area: light7;
}
.light8 {
  grid-area: light8;
}

.bg-main1,
.bg-main2,
.bg-main3,
.bg-main4,
.bg-main5,
.bg-main6,
.bg-main7,
.bg-main8,
.bg-main9,
.bg-maina,
.bg-mainb,
.bg-mainc,
.bg-maind {
  background-color: #ECE0D3;
  height: 100%;
}
.bg-main1 {
  grid-area: main1;
}
.bg-main2 {
  grid-area: main2;
}
.bg-main3 {
  grid-area: main3;
}
.bg-main4 {
  grid-area: main4;
}
.bg-main5 {
  grid-area: main5;
}
.bg-main6 {
  grid-area: main6;
}
.bg-main7 {
  grid-area: main7;
}
.bg-main8 {
  grid-area: main8;
}
.bg-main9 {
  grid-area: main9;
}
.bg-maina {
  grid-area: maina;
}
.bg-mainb {
  grid-area: mainb;
}
.bg-mainc {
  grid-area: mainc;
}
.bg-maind {
  grid-area: maind;
}

.cleft {
  grid-area: cleft;
  background-color: #E4D5BB;
  height: 100%;
}

.cright {
  grid-area: cright;
  background-color: #A63D28;
  height: 100%;
}

/* Text part */
.service-header {
  grid-area: head;
  font-size: 3rem;
  background-color: #ECE0D3;
  height: 100%;
}

.service-main {
  grid-area: text;
  background-color: #ECE0D3;
  height: 100%;
}

.service-button {
  grid-area: btton;
  display: flex; /* For centering content inside the button container */
  align-items: center; /* Center the button vertically */
  background-color: #ECE0D3;
  height: 100%;
}

.button-link {
	display: inline-block; /* Allows us to set padding and margins */
	padding: 10px 20px; /* Adjust padding as needed */
	border: 2px solid #000; /* Solid black border */
	background-color: #ECE0D3;
	color: #000; /* Text color */
	text-align: center;
	text-decoration: none; /* Removes underline from links */
	font-size: 1rem; /* Adjust the font size as needed */
	border-radius: 20px; /* Rounded corners */
	cursor: pointer; /* Cursor to indicate button is clickable */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	transition: all 0.3s ease; /* Smooth transition for hover effects */
  }

  .button-link:hover {
	background-color: #E4D5BB;; /* Slightly darker background on hover */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* More pronounced shadow on hover */
  }


/* Cards */

/* Style général des cartes */
.service-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #e0e0e0;
	/* border-radius: 1rem; */
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	transition: transform 0.2s;
	height: 105%;
  }

  .service-card:hover {
	transform: scale(1.05);
  }

  /* Style des images dans les cartes */
  .service-card img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
  }

  /* Style des titres des cartes */
  .service-card h2 {
	font-size: 1.5rem;
	margin: 0;
	color: #333;
  }

  /* Style des paragraphes de texte dans les cartes */
  .service-card p {
	font-size: 1rem;
	color: #777;
	margin: 0;
  }


.service-card1 {
  grid-area: card1;
  background-color: #CE8669;
}

.service-card2 {
  grid-area: card2;
}

.service-card3 {
  grid-area: card3;
}

.service-card4 {
  grid-area: card4;
}

.service-card5 {
  grid-area: card5;
}

.service-card6 {
  grid-area: card6;
}

/* --------------Lieu Section-------------- */
.lieu-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  padding-right: 0; /* Remove padding on the right to allow content to touch the edge */
  height: 50rem;
  min-height: 46rem;
  max-height: 54em;
  position: relative; /* Contain the absolutely positioned .lieu-image */
  overflow: hidden; /* Prevents scrollbars if content overflows */
  background-color: #F9F7F3;
  background-image: url('img/2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.lieu-content {
  max-width: 60ch; /* Limit the content width */
  margin-left: 10rem; /* Pushes the text block away from the left edge */
  padding-right: 1.25rem; /* Adjust padding as needed */
}

.lieu-content h2 {
    font-size: 5rem; /* Adjust the font size as desired */
}

.lieu-image {
  position: absolute;
  right: 0; /* Stick to the right edge */
  top: 0;
  bottom: 0;
  width: 50%; /* Width should be enough to contain the image */
  display: flex; /* Use flexbox to help with the layout */
  align-items: center; /* Center the image vertically */
  justify-content: flex-end; /* Align the image to the right */
}

.lieu-image img {
  position: relative; /* Use relative instead of absolute to stack on top of the color block */
  z-index: 2; /* Ensure the image is above the color block */
  max-height: 100%; /* Ensure it doesn't overflow the container */
  width:75%;
}

.color-block {
  position: absolute;
  right: 0; /* Stick to the right edge */
  top: 5%; /* Don't extend all the way to the top, adjust the percentage as needed */
  bottom: 5%; /* Don't extend all the way to the bottom, adjust the percentage as needed */
  width: 16rem; /* Increase the width as needed */
  background-color: #a8311c; /* The color of the rectangle */
  z-index: 1; /* Below the image */
}

/* Responsive adjustments */
@media (max-width: 1300px) {
    .lieu-content {
        margin-left: 5rem; /* Smaller margin for medium screens */
        max-width: 50ch; /* Slightly narrower text line */
    }
    .lieu-content h2 {
        font-size: 4rem; /* Smaller font size for medium screens */
    }
    .color-block {
        width: 12rem; /* Thinner color block for medium screens */
    }
}

@media (max-width: 900px) {
    .lieu-content {
        margin-left: 2rem; /* Even smaller margin for small screens */
        max-width: 40ch; /* More narrow text line for small screens */
    }
    .lieu-content h2 {
        font-size: 3rem; /* Even smaller font size for small screens */
    }
    .color-block {
        width: 8rem; /* Even thinner for small screens */
    }
}

@media (max-width: 768px) {
    .lieu-section {
        flex-direction: column; /* Change to column layout */
        align-items: center; /* Align items to the center */
    }
    .lieu-content {
        width: 100%; /* Full width for content */
        max-width: 100%; /* Allow content to fill its container */
        margin-left: 0; /* Reset margin left */
		margin-right: 4rem;
        padding: 0 2rem; /* Add padding to both sides */
        box-sizing: border-box; /* Include padding in the width calculation */
    }
    .lieu-content h2 {
        font-size: 2.5rem; /* Adjust font size for smaller screens */
    }
    .lieu-image {
        width: 100%; /* Full width for the image container */
        height: auto; /* Adjust height automatically */
        order: -1; /* Place image above the content */
        position: static; /* Reset position to flow in normal document order */
        justify-content: flex-end; /* Center image horizontally */
    }
    .lieu-image img {
        width: auto; /* Adjust width automatically */
        max-height: 30vh; /* Smaller image height, 30% of the viewport height */
        max-width: 80%; /* Smaller image width, 80% of the container width */
        margin-top: 2rem; /* Increase space above the image */
        margin-bottom: 1rem; /* Add some space below the image */
    }
    .color-block {
        position: absolute; /* Keep it absolutely positioned */
        width: 4rem; /* Keep the original thin width */
        right: 0; /* Align to the right */
        top: 5%; /* Distance from the top */
        bottom: 5%; /* Distance from the bottom */
        z-index: 1; /* Keep it below the image */
    }
}

@media (max-width: 450px) {
    .lieu-section {
        min-height: 60rem; /* Augmenter la hauteur minimale */
    }
    .lieu-content {
        padding-bottom: 2rem; /* Ajouter du padding en bas pour allonger la section */
    }
    .lieu-image img {
        max-height: 25vh;
		margin-top: 3rem;
    }
    /* Vous pouvez également vouloir ajuster d'autres propriétés ici si nécessaire */
}

@media (max-width: 375px) {
    .lieu-section {
        min-height: 70rem; /* Augmenter la hauteur minimale */
    }
    .lieu-content {
        padding-bottom: 2rem; /* Ajouter du padding en bas pour allonger la section */
    }
    .lieu-image img {
        max-height: 25vh; /* Ajuster si nécessaire pour la taille de l'image */
    }
    /* Vous pouvez également vouloir ajuster d'autres propriétés ici si nécessaire */
}

/* --------------Image Sections-------------- */
.image-sections {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
  gap: 10px; /* Space between grid items */
  align-items: center; /* Vertically center the grid items */
  justify-items: center; /* Horizontally center the grid items */
  min-height: 22rem; /* Minimum height for the container */
  background-color: #ECE0D3; /* Light orange background color */
}

.image-section {
	display: flex; /* Use flexbox for alignment */
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	width: 100%; /* Use full width of the grid column */
  }

.image-section img {
  max-width: 65%; /* Set a max-width to make the images smaller */
  height: auto; /* Maintain the aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .image-sections {
    grid-template-columns: 1fr; /* One column for vertical stacking */
    text-align: center; /* Center the content for all children */
    padding-top: 20px; /* Add padding at the top of the container */
    padding-bottom: 20px; /* Add padding at the bottom of the container */
  }

  .image-section img {
    max-width: 70%; /* Maintain the max width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Block display for images */
    margin-left: auto; /* Center-align for block-level elements */
    margin-right: auto; /* Center-align for block-level elements */
    margin-top: 10px; /* Add space at the top of the image */
    margin-bottom: 10px; /* Add space at the bottom of the image */
  }
}

/* --------------Carte Section-------------- */
.carte {
	background-color: #F9F7F3;
	background-image: url('img/3.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
}

.carte {
    display: flex;
    justify-content: center;
    align-items: center;text-align: center;
}

.carte-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-row-gap: 5rem;
    grid-column-gap: 20rem;
    align-items: center;
}

.small-img {
    width: 100%;
    height: auto;
    grid-row: span 1;
}

.text {
    grid-row: span 1;
}

/* --------------Comments Section-------------- */
.comments {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr; /* Allocate space for title, carousel, and dots */
  background: #ECE0D3; /* Light mint */
  min-height: 37.5rem; /* Half of the viewport height */
  padding: 20px; /* Add some padding */
}

.carousel-title {
  grid-row: 1; /* Place title in the first row */
  text-align: center; /* Center the title */
  /* Add more styling as needed */
}

.carousel-container {
  grid-row: 2; /* Place carousel in the second row */
  position: relative;
  overflow: hidden; /* Hide overflow */
  display: flex; /* Add flex display to the container */
  flex-wrap: nowrap; /* Prevent wrapping of items */
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
}

.carousel-item {
  display: none; /* Hide all slides by default */
  flex: 0 0 100%; /* Each slide is as wide as the carousel */
  animation: slideOut 0.5s ease-in-out forwards;
}

@keyframes slideIn {
  from {text-align: center;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.carousel-item.active {
  display: flex; /* Use flexbox to lay out the active slide */
  justify-content: space-between; /* Spread the comments evenly */
  align-items: center; /* Align comments vertically */
  width: 100%; /* Ensure the carousel item takes full width */
  animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel-item.slide-out {
  animation: slideOut 0.5s ease-in-out forwards;
}

.comment {
  background-color: #CE8669; /* The orange background color */
  border-radius: 5px; /* Optional: adds rounded corners to the rectangle */
  padding: 20px; /* Space inside the rectangle */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space out title and paragraphs */
  height: 30rem; /* Adjust height as needed */
  margin: 0 5rem; /* Maintain spacing between comments */
  color: white; /* Text color - change as needed */
  flex: 1; /* Each comment takes equal width */
}

.comment h3 {
  margin: 0 0 10px 0; /* Space below the title */
  /* Additional title styles */
}

.comment p {
  margin: 0 0 10px 0; /* Space below each paragraph */
  /* Additional paragraph styles */
}

.comment p:last-child {
  margin-bottom: 0; /* No space below the last paragraph */
}

.carousel-nav {
  grid-row: 3; /* Place navigation dots in the third row */
  display: flex;
  justify-content: center; /* Center dots */
  align-items: end; /* Align dots to the end (bottom) */
  height: 50px; /* Give a fixed height to ensure the dots are at the bottom */
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  display: inline-block;
  border-radius: 50%;
  background-color: #D9D9D9;
  cursor: pointer;
}

.dot.active,
.dot:hover {
  background-color: #CE8669;
}

@media (max-width: 768px) {
	.carousel-container {
	  /* Changez la direction du flex pour que les éléments s'empilent verticalement */
	  flex-direction: column;
	  align-items: center; /* Centrez les éléments pour une meilleure présentation */
	}

	.carousel-item,
	.carousel-item.active {
	  /* Assurez-vous que les éléments de carrousel sont affichés en bloc et occupent la largeur complète */
	  display: block;
	  width: 100%;
	}

	.carousel-item .comment {
	  /* Chaque commentaire prend la largeur complète du conteneur et ajoute de la marge en bas pour l'espacement */
	  width: 100%;
	  margin: 0 0 1rem 0; /* Ajustez selon vos besoins */
	  height: auto; /* La hauteur s'ajuste en fonction du contenu du commentaire */
	}

	/* Assurez-vous qu'il n'y a pas de marge supplémentaire au-dessus du premier commentaire */
	.carousel-item .comment:first-child {
	  margin-top: 0;
	}
}

/* --------------Footer Styles-------------- */
.site-footer {
	background: #E4D5BB; /* Dark grey */
	color: rgb(0, 0, 0);
	padding: 2rem;
	display: flex;
	align-items: flex-start;
	height: 20rem;
  }

  .footer-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
  }

  .footer-map img {
	max-width: 20rem;
	height: auto;
  }

  .footer-text-columns {
	display: flex;
	justify-content: space-between;
	flex-grow: 1;
	margin-left: 2rem;
  }

  .footer-column {
	margin: 0 1rem;
  }

  .footer-column h3 {
	margin-bottom: 0.5rem;
  }

  .footer-column p {
	margin-bottom: 0.5rem;
	line-height: 1.5;
  }

  @media screen and (max-width: 1000px) {
	.site-footer {
        height: auto; /* Adjusts height to content */
        padding-bottom: 2rem; /* Additional padding at the bottom, if needed */
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

	.footer-map img {
		width: 100%;
		height: auto;
		margin: auto; /* Centers the image horizontally */
	}

    .footer-text-columns {
        flex-direction: column;
        margin-left: 0;
    }

    .footer-column {
        margin: 1rem 0; /* Adjust margin for vertical layout */
		text-align: center;
    }
}

/* --------------Responsive Grid Layout for smaller screens-------------- */
@media (max-width: 768px) {
  .image-sections {
    grid-template-columns: repeat(1, 1fr);
    font-size: 14px;
  }

  /* Adjust sections to auto height for smaller screens
  .landing,
  .services,
  .lieu,
  .carte,
  .comments,
  .site-footer {
    min-height: auto;
  }*/
}
